.carousel,
.carousel-inner {
  height: 70vh;
}

.carousel-inner img {
  height: 70vh;
  object-fit: cover;
}

.kep-tarto {
  width: 100%;
}

.kep-tarto img {
  width: 100%;
}

th,
td {
  padding: 10px;
}

.beszur {
  display: flex;
  column-gap: 20px;
}

.keres {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px;
}
